<h1>confirmation screen</h1>
<%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
  <!-- confirmation screenã§Description to display the uploaded image -->
  <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "To post" %>
<% end %>
<%= form_with(model:@feed, url:new_feed_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "Return", name: "back" %>
<% end %>
